:root{
    --background-4:#dbe1ca;
    --background-1:#f2f6e7;
    --background-2:rgb(0, 0, 0);
    --green-font:#2a5022;
    --background-3:#1b0505;
    --titles:'Roboto Mono', monospace;
    --subtitles-paragh:'Montserrat', sans-serif;
    --w-title1: 500;
    --w-title2: 400;
    --w-title3: 200;
    --w-subtitle:300;
    --w-paragh:100;
    --color-red: #961313;

}
*{
    box-sizing: border-box;
    
}

body{
    background-color: var(--background-1);
    font-family: 'Wix Madefor Display', sans-serif;
    margin: 0rem;
    overflow-y: scroll;

}


body::-webkit-scrollbar{
    width:0.3125rem;
    margin: 0rem 0.0625rem;

}

body::-webkit-scrollbar-track{
    background-color:var(--background-1);
    border-radius: 0.625rem;
    margin-block: 0.375rem;

}
body::-webkit-scrollbar-thumb{
    background:rgb(150, 145, 145);
    border-radius: 100vh;

}

/* Contenedor de la navegacion */
.navigation-start{
    margin: 0 auto;
    background-color: transparent;
    width: 92%;
    max-width: 1500px ;
    height: 130px;
    display: flex;
 justify-content: space-between;
 align-items: center;
    /* position: sticky; */
    /* z-index: 3; */
    /* top: 0px; */
    /* border-bottom: 0.125rem solid black ; */
}

.logo-flex{
    height: 3.125rem;
    border-radius: 2.5rem;
    padding: 10px;
    background-color: var(--background-1);
    box-shadow: 0rem 0rem 3rem rgb(187, 106, 106);
    /* margin-left: 4.6875rem; */

    display: flex;
    justify-content: center;
    align-items:center ;
    gap: 0.3125rem;
}


/* Logo de la pagina */
.logo{
    color:var(--background-3);
    font-size: 1.875rem;
    text-shadow: 0rem 0.03125rem 0.1875rem black ;
    letter-spacing: 0.0625rem;
    
    font-weight: 400;    
}

/* Contenedor de links de navegacion */
.nav-background{
    
    background-color: var(--background-1);
    height: 50px;
    padding:1.25rem 1.4375rem;
    position: relative;
    border-radius: 2.5rem;
    box-shadow: 0rem 0rem 2rem  rgb(95, 95, 95);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap:2.5rem;

}


.close-navigation-btn{
    position: fixed;
    top: 0.625rem;
    left: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 0.6875rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.241);
    border: none;
    cursor: pointer;
    display: none;
}

.nav-item2::before{
    content: "";
    width: 1px;
    height:2.5rem ;
    background-color: black;
    position: absolute;
    left: -1.5625rem;
    bottom: -0.75rem;

}

.nav-item3::before{
    content: "";
    width: 1px;
    height:2.5rem ;
    background-color: black;
    position: absolute;
    left: -1.5625rem;
    bottom: -0.75rem;
}

.nav-item4::before{
    content: "";
    width: 1px;
    height:2.5rem ;
    background-color: black;
    position: absolute;
    left: -1.5625rem;
    bottom: -0.75rem;
}


/* .nav-item2{
    position: relative;
}

.nav-item3{
    position: relative;
}

.nav-item4{
    position: relative;
    margin: 0rem;
} */


/* Links de la navegacion (clase general) */


.nav-item{
    color: var(--green-font);
    font-size: 1rem;    
    text-decoration: none;
    position: relative;
    padding: 0px 3px;
    
    display: block;
    font-weight: 400;

}
.nav-item:hover{
    
    background-color: #c1c5b4;
    border-radius: 1.25rem;
    
    
}

/* Contenedor del Oficcial-sites y la flecha */
.nav-button{
    font-size: inherit;
    font-family: 'Wix Madefor Display', sans-serif;
    font-weight: 400;
    border: 0rem;
    padding: 0px 3px;
    background-color: transparent;
    cursor: pointer;
    
}


.nav-button:hover{
    background-color: #c1c5b4;
    border-radius: 1.25rem;
    
}

.nav-button-span{
    color: var(--green-font);
}

/* imagen de flecha para abajo de official-sites */
.nav-arrow{
    display: inline-block;
    width: 0.625rem;
    margin-left: 0.1875rem;
}


.official-sites-select{
    position: absolute;
    top: 2.4375rem;
    left: 320px;
    background-color: var(--background-1);
    width: 10rem;
    height: 12.5rem;
    overflow-y: scroll;
    border-radius: 0.625rem;
    border:1px solid #000000;
    display: none;
    box-shadow: 0.625rem 0.625rem 1.25rem;
    z-index: 2;
    
    
}

.show-sitesblock{
    display: block;
}





.official-sites-select::-webkit-scrollbar{
    width:0.3125rem;
    margin: 0rem 0.0625rem;

}

.official-sites-select::-webkit-scrollbar-track{
    background-color:var(--background-1);
    border-radius: 0.625rem;
    margin-block: 0.375rem;

}
.official-sites-select::-webkit-scrollbar-thumb{
    background:black;
    border-radius: 100vh;

}

.nav-sites-container{
    padding-left: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    position: relative;
}
.nav-site-links{
    list-style-type: circle;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.8rem;
    border-bottom:0.0625rem solid #315d28;

}
.flexcon-sites{
    display: flex;
    flex-direction:row ;
    justify-content: start;
    align-items: center;
    gap: 5px;
}
.logos-sites{
    width: 25px;
}

.nav-sites-links:last-of-type{
    border-bottom:none;
}


.nav-sites-anchors{
    text-decoration:none ;
    color: var(--green-font);
    text-align: center;
}

.nav-sites-anchors:hover{
    color:black;
}


.img-close-button{
    width: 0.625rem;
}

.icon-menu-hamburguer{
    display: none;
}

.hero-container{
    position: relative;
    margin: 1.25rem auto 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 90%;
    max-width: 96.25rem;
    z-index: 1;
    padding-top: 3.125rem;
    border-top: 0.125rem solid black ;


}

.hero-texts-container{
    background-color: var(--background-1);
    padding: 1.25rem;
    width:45%;
    height: 37.5rem;
    box-shadow: 0rem 0rem 3.125rem black;
    border-top-left-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    overflow-y: scroll;
}


.hero-texts-container::-webkit-scrollbar{
    width:0.5rem;
    margin: 0rem 0.0625rem;

}

.hero-texts-container::-webkit-scrollbar-track{
    background-color:var(--background-1);
    border-radius: 0.625rem;
    margin-block: 0.375rem;

}
.hero-texts-container::-webkit-scrollbar-thumb{
    background:black;
}

.hero-title{
    font-size: 2.1875rem;
    font-weight: var(--w-title1);
}

.hero-subtitle{
    color: var(--color-red);
    font-size: 1.25rem;
    /* font-family: var(--subtitles-paragh); */
    font-weight: 500;
}

.hero-paragh{
    /* font-family: var(--subtitles-paragh); */
    text-align: start;
    letter-spacing: 0.03125rem;
}

.hero-a{
    color: var(--color-red);
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 1.25rem;
}

.hero-a:hover{
    color: var(--green-font);
    text-decoration: none;
}

.hero-a-flex{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.75rem;

}


.a-img-hero{
    width: 1.25rem;
}


.hero-img-container{
    width: 40%;
    overflow: hidden;
    object-fit: contain;
    box-shadow: 0rem 0rem 3.125rem rgb(80, 14, 82);
}
.hero-img{
    width: 100%;
}


.quote-background{
    background-color: black;
    height: 11.25rem;
    width: 90%;
    max-width: 100rem;
    margin: 6.25rem auto 4.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: inset; */
    box-shadow: 0rem 0rem 3.125rem black;
}

.quote-paragh{
    color: var(--background-1);
    font-size: 2.5rem;
    text-align: center;
    margin: 0rem 1.25rem;
    
}

.members-container{
    margin: 10rem auto 12.5rem;
    width: 90%;
    max-width: 93.75rem;
}



.members-title{
    width: 18.75rem;
   margin:0rem auto 8.125rem;
    padding: 0.625rem;
    background-color: var(--background-1);
    box-shadow: 0rem 0rem 3.125rem black;
    font-size: 2.5rem;
    font-family: var(--subtitles-paragh);
    text-align: center;
    border-radius: 2.5rem;
    color: #315d28;

}

.member-title-line{
    margin: 0 auto;
    width: 100%;
    background-color: black;
    height: 0.1875rem;
    position: relative;
    top: -10125rem;
    z-index: -1;
}



.members-grid{
    margin: 0 auto;
    padding-left: 0.75rem;
    width: 90%;
    max-width: 93.75rem;
    display: grid; 
    grid-template-columns:repeat(auto-fill,minmax(18.75rem,1fr));
    align-content: center;
    justify-content: center;
    gap:120px ;
    
    
}

.member-cards{
    justify-self: center;
    width: 18.75rem;
    height: 6.25rem;
    background-color: var(--background-1);
    overflow: visible;
    margin: 0 auto;
    border-radius: 2.5rem;
    box-shadow: 0rem 0rem 3.125rem black;
    display:block;
    position: relative;
    align-self: center;
    padding-left: 1.6875rem;
}

.member-cards:hover{
    background-color: #c1c5b4;
}

.circle-img{
    display: block;
    /* background-color: red; */

    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    /* background-image: url(Images/suga\ card.jpg); */
}

.circle-img:hover{
    width: 9.6875rem;
    height: 9.6875rem;
    top: -2.125rem;
    left: -2.1875rem;

}


.c-1{
    background-image: url(https://i.ibb.co/4d5qfss/rm-card-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 15.625rem;
    background-position: -3.125rem -2.5rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem #1f4889;

}


.c-2{
    background-image: url(https://i.ibb.co/SRz9sQp/jin-card-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 9.375rem;
    background-position: 0rem -1.875rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem #a03975;

}


.c-3{
    background-image: url(https://i.ibb.co/z7N85Zn/suga-card-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 11.875rem;
    background-position: -2.1875rem -6.25rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem black;

}


.c-4{
    background-image: url(https://i.ibb.co/LSsCGQ8/hobie-card-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 11.875rem;
    background-position: -1.5625rem -1.25rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem #3cb4c2;

}


.c-5{
    background-image: url(https://i.ibb.co/BwCpZV0/jimin-card.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 14.375rem;
    background-position: -2.5rem -1.25rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem #b8be46;

}


.c-6{
    background-image: url(https://i.ibb.co/M5F2gBy/v-card-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 16.25rem;
    background-position: -3.125rem -1.875rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem #1c6629;

}


.c-7{
    background-image: url(https://i.ibb.co/RbXZvyw/kook-card-min.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 11.25rem;
    background-position: -1.25rem -1.25rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem #552a70;
}

.c-8{
    background-image: url(https://i.ibb.co/MfBfBsg/bts-tours.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 11.25rem;
    background-position: -1.125rem -1.25rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem rgb(144, 84, 84);
}

.c-9{
    background-image: url(https://i.ibb.co/5FNwTzr/bts-movies.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 11.25rem;
    background-position: -1.25rem -11.875rem;
    position: relative;
    top: -1.8125rem;
    left: -1.875rem;
    box-shadow: 0rem 0rem 3.125rem rgb(127, 130, 76);
}

.a-member{
    text-decoration: none;
}

.member-name{

    color: black;
    font-size: 1.5625rem;
    position:absolute;
    top: 0rem;
    left: 11.25rem;

}

.member-jungkook{
    color: black;
    font-size: 1.5625rem;
    position:absolute;
    top: 0px;
    left: 10rem;

}

.namechange{
    font-size: 1rem;
    top: 1.125rem;
    left:10rem;
}

.album-sec{
    width: 90%;
    max-width: 93.75rem;
    margin: 0rem auto 6.25rem;
}
.wrapper{
    width: 90%;
    max-width: 75rem;
    margin: 0rem auto 6.25rem;
    position: relative;
    background-color: rgba(128, 128, 128, 0.414);
}

.carousel-arrows{
    width: 2.6875rem;
    height: 2.6875rem;
    background-color: rgba(255, 255, 255, 0.282);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top: 45%;
}

.arrow-previous{
    left:0rem;
}
.arrow-next{
    right: 0rem;
}
.wrapper .carousel{
    white-space: nowrap;
    overflow-x: scroll;
    font-size: 0rem;
    padding: 1.25rem;
}

.carousel img{
    width: calc(100%/3);
    object-fit: contain;
    height: 18rem;
}

.carousel img:hover{
    position: relative;
    width: 18.75rem;
    height: 18.75rem;
    top: 0rem;
    box-shadow: 0rem 0rem 3.125rem black;
    border: 0.125rem solid black;
}

.carousel::-webkit-scrollbar{
    width: 1.25rem;
    background-color: #f2f6e7;
}
.carousel::-webkit-scrollbar{
    width:0.3125rem;
    margin: 0rem 0.0625rem;

}

.carousel::-webkit-scrollbar-track{
    background-color:var(--background-1);
    border-radius: 0.625rem;
    margin-block: 0.375rem;

}
.carousel::-webkit-scrollbar-thumb{
    background:rgb(150, 145, 145);
    border-radius: 100vh;

}

.collabs{
    font-size: 1.5625rem;
    text-align: center;
    color: var(--green-font);
}

footer{
    width: 100%;
    background-color: transparent;
    border-top: 0.125rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1200px){
    .hero-container{
        align-items: center;
    }
    .carousel img{
        width: calc(100%/2);
    }

 
}



@media (max-width:763px){

    .nav-background{
        position: absolute;
        top: 0rem;
        
        right: 0rem;
        width: 60%;
        height: 34.375rem;
        margin-right: 0rem;
        background-color: var(--background-1);
        padding:1.25rem 1.4375rem;
        border-left: 0.125rem solid black;
        border-bottom: 0.125rem solid black;
        border-radius: 0rem;
        z-index: 2;
        display: none;
        
        /* overflow-x: hidden; */
         
    }

    .showsidebar{
        display: block;
        
    }
    .nav-flex-container{
        display: flex;
        flex-direction: column;
        gap:3rem;
        position:static;
        
    }

    .nav-item{
        margin-top: 2.5rem;
        font-family: inherit;
    }

    .icon-menu-hamburguer{
        display: flex;
        padding: 0.1875rem 0.5625rem;
        border-radius: 2.5rem;
        margin-right: 10px;
        background-color: var(--background-1);
        cursor: pointer;
        border: none;
        box-shadow: 0rem 0rem 11.25rem 1.25rem rgb(87, 80, 74);
    }

    .img-hamburguer{
        width: 1.875rem;
    }

    .nav-item2::before{
        content: "";
        width: 60vw;
        height: 0.09375rem;
        top: -1.5625rem;
    }

    .nav-item3::before{
        content: "";
        width: 60vw;
        height: 0.09375rem;
        top: -1.5rem;
    }

    .nav-item4::before{
        content: "";
        width: 60vw;
        height: 0.09375rem;
        top: -1.5rem;
        
    }

    .nav-button{
        background-color: transparent;
        cursor: pointer;
        display: flex;
        align-items: center;
        /* margin-top: 0.3125rem;  */
        /* margin: 40px 0px 0px; */
        
    }
    
    .official-sites-select{
        position: relative;
        top: 20px;
        left: -10px;
        width: 10rem;
        height: 10rem;
        display: none;
        box-shadow: none;
        z-index: 1;
        
    }

    .show-sitesblock{
        display: block;
    }
    
    .button-close-nav{
        top: 30.375rem;
        left: 1.6525rem;
         z-index: 3;
    
}
.close-navigation-btn{
    display: flex;
    position: relative;
    top: 0rem;
    left: 0rem;
}
    
.hero-container{
    flex-direction: column;
    justify-content: center;
    gap: 4.375rem;
}

.hero-texts-container{
    padding: 1.25rem;
    width:90%;
}


.hero-img-container{
    width: 90%;
}

.hero-more{
    left: 8.75rem;
    width: 50%;
}

.quote-paragh{
    font-size: 1.875rem;
}


.carousel img{
    width: calc(100%/1);
    
}


.carousel img:hover{
    position: static;
    width: calc(100%/1);
    height: 18.125rem;
    box-shadow: none;
    border: none;
}

}

@media(max-width:381px){

.members-title{
    width: 18.125rem;
   margin:0rem auto 8.125rem ;
    padding: 0.625rem;
    background-color: var(--background-1);
    box-shadow: 0rem 0rem 3.125rem black;
    font-size: 2.1875rem;
    font-family: var(--subtitles-paragh);
    text-align: center;
    border-radius: 2.5rem;
    color: #315d28;
    
}
    
.member-cards{
    width: 15.625rem;
}

.circle-img{
    width: 7.02125rem;
}

.circle-img:hover{
    width: 7.34375rem;
}


.c-1{
    background-size: 14.375rem;
    background-position: -3.75rem -2.5rem;
}


.c-2{
    background-size: 7.5rem;
    background-position: -0.3125rem -0.9375rem;
}


.c-3{
    background-size: 11.25rem;
    background-position: -2.8125rem -6.25rem;
}


.c-4{
    background-size: 10rem;
    background-position: -1.5625rem -0.625rem;
}


.c-5{
    background-size: 14.375rem;
    background-position: -3.125rem -1.25rem;
}


.c-6{
    background-position: -4.0625rem -1.875rem;

}


.c-7{
    background-size: 8.75rem;
    background-position: -1.25rem -0.625rem;
}

.c-8{
    background-size: 9.375rem;
    background-position: -1.125rem 0rem;
}

.c-9{
    background-size: 8.75rem;
    background-position: -0.9375rem -8.125rem;
}

.member-name{
    left: 9.0625rem;
}

.member-jungkook{
    left: 7.1875rem;
}

.namechange{
    font-size: 1rem;
    top: 1.125rem;
    left: 7.6875rem;
}






}





